body {
  color: Black;
  background-color: #BBBBBB;
  padding: 0px;
  font-family: /*candara, "Trebuchet MS", verdana,*/  "Helvetica Neue", serif;
  width: 800px;
  font-size: 80%;
}

a {
  text-decoration: none;
  color: Black;
  padding-left: 1px;
  padding-right: 1px;
  border-left: 2px solid #C8C8C8;
  border-right: 2px solid #C8C8C8;
   
  background-color: #D4D4D4;
  /*font-family: "Trebuchet MS", sans-serif;*/
}
a.listedlink {
}
a > img {
  margin-bottom: -4px;
}
a:visited {
  /*color: #555; */ /*reenable when we have non-visited links again*/
}

.bkg_logo {
    padding: 0; 
    border-width: 0; 
    background-color: transparent; 
    text-decoration: none;
}
.bkg_logo > img {
    margin: 0; /* undo the inline-img margin-bottom thing */
}

/*form { 
  margin: 0;
  padding: 0;
}*/
.tools {
  padding: 3px;
  text-align: right;
}
input[type=button], input[type=submit]{
  border-style: solid;
  border-width: 1px;
  border-color: #777 Black Black #777;
  /*background-color: #DDD;*/
  background-color: transparent;
  padding: 1px;
  margin: 1px;
}
input[type=button]:active, input[type=submit]:active{
  position: relative;
  top: 1px;
  left: 1px;
  border-color: Black #777 #777 Black;
  background-color: #999;
}
input[type=text], input[type=checkbox]{
  border-top: 1px solid Black;
  border-left: 1px solid Black;
  border-right: 1px solid #555555;
  border-bottom: 1px solid #555555;
  background-color: #E4E4E4;
}
input[disabled][type=button] {
  border: 3px double #909090;
  background-color: #C0C0C0;
  color: #303030;
  padding: 0px;
  margin: 0px;
  /*font-weight: bold;*/
}
.thinline {
  border-top: 1px dotted #A0A0A0;
  border-bottom: 0px;
  border-left: 0px;
  border-right: 0px;
  text-align: left;
  
  width: 90%;
}
.wtrtools {
  text-align: center;
  /*margin-top: -8px;*/
}

.general {
  margin-top: -2px;
  float: right;
  width: 225px;
  text-align: left;
}
.navbar {
  margin-bottom: 20px;
}
.stream {
  width: 565px;
  /*text-align: justify;*/
  float: left;
  margin-right: 3px;
}
.post {
  border-top: 1px dotted #555;
  border-right: 1px dotted #555;
  padding: 5px;
  /*margin-top: 10px;*/
  margin-top: 25px;
  margin-bottom: 10px;
}
.post > h2 {
  /*border: 1px dotted #888;*/
  font-size: 120%;
  /*font-weight: normal;*/
  margin-top: -15px;
  margin-bottom: 8px;
}

.posttitle {
/*
  border-left: 1px dotted #888;
  border-right: 1px dotted #888;
       */
  background-color: #BBBBBB;
  padding-left: 4px;
  padding-right: 4px;

}

    
.sidebar{
  float:left;
  width:115px;
  /*border-right: 1px dotted #A0A0A0;*/
  padding-right: 3px;
  font-size: 75%;
  text-align: left;
}
.sidebarsection{
  border-bottom: 1px solid #505050;
  padding-bottom: 6px;
  padding-top: 3px;
  padding-left: 2px;
}
.postbody{
  float:right;
  width:500px;
  text-align: justify;
}
p {
  margin-top: 0pt;
  margin-bottom: 4pt;
  text-indent: 1em;
}
hr {
  margin-top: 4px;
  margin-bottom: 4px;
}
.quote{
  width: 165px;
  font-size: 150%;
  border-top: 4px solid #202020;
  border-bottom: 4px solid #202020;
  float: right;
  text-align: right;
  margin: 10px;
  margin-right: 0px;
}
.justbutton {
  text-align: right;
}
.notice {
  border: 2px dashed #505050;
}
ul {
  padding-left: 15px;
}
li {
  padding-bottom: 5px;
}

.dismisser {
  float: right;
  margin-left: 5px;
  margin-bottom: 5px;
  padding: 0px;
  display: none; /*only shown if JS is enabled*/
}

.mostly_hidden {
  display: none;
}


img {border:0;}

h1 { margin-top: 0; margin-bottom: 0px; text-align: left; }
h3 { margin-top: 0; margin-bottom: 0px; text-align: left; }
h5 { margin-top: 0; margin-bottom: 0px; text-align: left; }


/* When JS is disabled, everything is expanded by default*/
.j_summary {
    display: none;
}
.j_content {
    display: block;
}