
<form name='composer' id='comp' method='post'>
<div style='width: 100%; text-align: right; margin-top: 6px;'>
<b>Claim:</b>
<input type='text' name='claim' style='margin: 0; width: 475px;' class='textin' />
</div>
<textarea id='posttext' name='posttext' rows='25' class='textin' style='width: 100%;'>
</textarea>
<div style='text-align: right;'>
<input type='button' value='enlarge text box' onclick='javascript:enlarge()'/>
<input disabled type='button' value='save draft'/>
<input type='submit' value='post' style='margin-left: 15px; margin-right: 1px;'/>
</div>
<b>Citations/footnotes:</b>
<textarea name='footnotes' rows='10' style='width: 100%;' class='textin'>
</textarea>

</form>

