<div class='sidebarsection'>
<p>
Write an informative and interesting article.
</p> <p>
Make a specific <a href='/meta/claim'>claim</a>, backing it up by 
<a href='/meta/cite'>citing</a> informative sources, and write for
<a href='/meta/everyone'>all kinds of readers</a>.
</p>
</div>
<div class='sidebarsection'>
To format text, select it and hit a button:
<form action="javascript:void(0)" method="get">
<input type="button" value="cite/footnote" onclick="add_stuff('[70]','[70] http://en.wikipedia.org/wiki/Ytterbium\n')"/>
<input type="button" value="bold" onclick="markup('[*','*]','bold')"/>
<input type="button" value="italic" onclick="markup('[/','/]','italic')"/>
<input type="button" value="link" onclick="add_stuff('[http://www.youtube.com/watch?v=eBGIQ7ZuuiU Video of the devastation]', '')"/>
<div id='editor_explain'><!-- Syntax explanations will go here --></div>
</form>
Or see the guide to <a href='/meta/syntax'>formatting syntax</a>.
</div>
