$def with (real_user, username, render)
<html> 
<head><title>yeahbut</title>
<link rel='stylesheet' type='text/css' href='/static/yb.css'/>
<link rel='shortcut icon' href='/static/write.png'/>
<script src='/static/quicktags.js'> </script>
<script src='/static/editor.js'> </script>
</head>
<body>
<script type="text/javascript">
var composer;// = document.forms[1];//.getElementById('comp');

function enlarge() {
  composer = document.forms[1];//.getElementById('comp');
  var elt = composer.posttext;
  var cursize = parseInt(elt.getAttribute('rows'));
  moving_enlarge(cursize, 6);
}
function moving_enlarge(cursize, amt) {
  var elt = composer.posttext;
  if(3 > amt) {
    elt.setAttribute('rows', cursize + amt);
  } else {
    elt.setAttribute('rows', cursize + 2);
    setTimeout("moving_enlarge("+cursize+"+2, "+amt+"-2)", 70);
  }
}

//TODO:  Make this fancier, putting stuff where the cursor is
//or maybe there's an easier way?
function add_stuff(main, footnote) {
  composer.posttext.value += main;
  composer.footnotes.value += footnote;
}
</script>
$:{render.sidebar_top(username)}
<div class='sidebarsection'>
<p>
Write an informative and interesting article.
</p> <p>
Make a specific <a href='/meta/claim'>claim</a>, backing it up by 
<a href='/meta/cite'>citing</a> informative sources, and write for
<a href='/meta/everyone'>all kinds of readers</a>.
</p>
</div>
<div class='sidebarsection'>
To format text, select it and hit a button:
<form action="javascript:void(0)" method="get">
<input type="button" value="cite/footnote" onclick="add_stuff('[70]','[70] http://en.wikipedia.org/wiki/Ytterbium\n')"/>
<input type="button" value="bold" onclick="markup('[*','*]','bold')"/>
<input type="button" value="italic" onclick="markup('[/','/]','italic')"/>
<input type="button" value="link" onclick="add_stuff('[http://www.youtube.com/watch?v=eBGIQ7ZuuiU Video of the devastation]', '')"/>
<div id='editor_explain'><!-- Syntax explanations will go here --></div>
</form>
Or see the guide to <a href='/meta/syntax'>formatting syntax</a>.
</div>
$:{render.sidebar_bottom(real_user, username)}


<div class='stream'>
$:{render.navbar(real_user, username)}

<form name='composer' id='comp' method='post'>
<div style='width: 100%; text-align: right; margin-top: 6px;'>
<b>Claim:</b>
<input type='text' name='claim' style='margin: 0; width: 475px;' class='textin' />
</div>
<textarea id='posttext' name='posttext' rows='25' class='textin' style='width: 100%;'>
</textarea>
<div style='text-align: right;'>
<input type='button' value='enlarge text box' onclick='javascript:enlarge()'/>
<input disabled type='button' value='save draft'/>
<input type='submit' value='post' style='margin-left: 15px; margin-right: 1px;'/>
</div>
<b>Citations/footnotes:</b>
<textarea name='footnotes' rows='10' style='width: 100%;' class='textin'>
</textarea>

</form>

</div>
</body>