$def with (wtrs)

<div class='sidebarsection'>
<p>
Pick articles you find valuble and insightful, and you'll get more like them.
</p><p>
The best articles appeal to people from many different perspectives.
</p>
</div>

<div class='sidebarsection'>
Articles that are worth the read for you are saved for later reference.  Some recent ones:
<ul id='recentwtr'>
$for post in wtrs:
    <li> <a class='listedlink' href='/view/$post.id'>$post.claim</a> </li>
</ul>
<div style="text-align:right"><a href='wtrsearch'>more...</a></div>
</div>