$def with (pid, extra_class, claim, summary_rendered, contents_rendered, age_rendered, extras_rendered, notes_rendered, vote_result_rendered, username, term)

<h3>Claim: <span id='claim$pid'>$claim</span></h3>
<div style='clear: right'>
  <div class='sidebar'>
    <div id='sidebar_summary$pid' class='j_summary $extra_class' >
      (<a href='javascript:expose($pid)' class='ajaxy'>expand</a> | <a href='/article/$pid'>page</a>)
    </div>
    <div id='sidebar_contents$pid' class='j_content $extra_class' >
      <div class='sidebarsection'>
        (<a href='javascript:shrink($pid)' class='ajaxy'>contract</a> | <a href='/articl/$pid'>page</a>) <br />
        $:age_rendered ago <br />
        $:extras_rendered
      </div>
      <div>
        $:notes_rendered
      </div>
    </div> <!-- end of sidebar_contents -->

  </div> <!-- end of sidebar -->
  <div id='summary$pid' class='j_summary $extra_class postbody'>
    &#8220; $summary_rendered &#8221;
  </div>
  <div id='contents$pid' class='j_content $extra_class postbody'>
    $contents_rendered
    <!-- voting, etc.-->
    $if username != None:
        <div class='tools'>
        $if vote_result_rendered != None:
            $:vote_result_rendered
        $else:
            $if term == None:
                <form id='wtr$pid' name='wtr$pid'
                 action='/articles/$pid/wtr?' method='post'>
                <input type='button'
                        onclick='javascript:voteon($pid, "$username", null)'
                        value='worth the read' />
            $else:
                <form id='wtr$pid' name='wtr$pid'
                action='/articles/$pid/wtr?term=$term' method='post'>
                <input type='button'
                        onclick='javascript:voteon($pid, "$username", "$term")'
                        value='worth the read for "$term"'/>
            <div id='status$pid'></div>
            </form>
        </div> <!-- end of tools -->
  </div> 
  <div style='clear: both;' > </div>
</div>