$def with (username)
<div class='general'>
<!--<h1>yeahbut</h1>-->
<!--<h5><i>Make an interesting point.</i></h5><br/>-->
  <center>
<a style='padding: 0; background-color: transparent; text-decoration: none;' href='/'>
<span style="color: #330000; font-family: georgia, serif; font-style: italic; font-weight: bold; text-decoration: none; font-size: 52px;">Ont0lo</span>
  <!--<img src='/static/firegray.png' alt='firegray'/>--> </a>
  </center>
<center class='sidebarsection' style='border-bottom: 0px; /*1px solid Black;*/ padding-bottom: 1px;'>
<a href='/users/$username/frontpage'><img alt='r' class='inlineimg' src='/static/read.png'/>read</a> | 
<a href='/users/$username/compose'><img alt='w' class='inlineimg' src='/static/write.png'/>write</a> | 
<a href='/frontpage'><img alt='best' class='inlineimg' src='/static/bestof.png'/>best of</a>
</center>